<template>
    <div>
        <NuxtPage />
    </div>
</template>

<script lang="ts" setup>
    import { themeHelper } from '@/helpers';
    import { EThemeMode } from '@/interfaces';
    if (process.client) {
        themeHelper.getThemeColors(
            {
                '--primary': '#ff0404',
                '--success': '#1CAA4D',
                '--danger': '#F33620',
                '--warning': '#FF9900',
                '--text-muted': '#C0C4CC',
                '--dark': '#282A36',
                '--body-background': '#F0F2F5',
                '--block-background': '#FFFFFF',
                '--border': 'rgb(232, 232, 232)',
                '--text': 'rgb(29, 37, 59)',
                '--text-header': 'rgb(29, 37, 59)',
                '--text-second': 'rgb(128, 128, 128)',
                '--text-placeholder': 'rgba(0, 0, 0, 0.25)',
                '--block-background-second': 'rgb(240, 242, 245)',
                '--block-background-disabled': 'rgb(255, 255, 255)',
            },
            EThemeMode.LIGHT,
        );
    }
</script>

<style lang="scss">
    @import 'assets/styles/scss/custom-antd';
</style>
