<template>
    <div>
        Hello
        <slot />
    </div>
</template>

<!--<script>-->
<!--    export default {-->
<!--        name: 'Default',-->
<!--    };-->
<!--</script>-->

<!--<style scoped></style>-->
