<template>
    <div>
        <AButton type="primary">
            {{ $t('Home') }}
        </AButton>
    </div>
</template>

<script lang="ts">
    import { Button } from 'ant-design-vue';
    export default {
        components: {
            AButton: Button,
        },
    };
</script>

<style scoped></style>
