html,
body {
    font-family: var(--font);
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-weight: 400;
}

html {
    font-size: var(--font-size);
}

body {
    margin: 0;
    font-size: var(--font-size-second);
    background-color: var(--body-background);
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

::-webkit-scrollbar {
    width: 4px !important;
    height: 4px !important;
    border-radius: var(--radius);
    background-color: var(--body-background) !important;
}
::-webkit-scrollbar-thumb {
    background-color: var(--primary) !important;
    border-radius: var(--radius);
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(var(--primary-rgb), 0.8) !important;
}
::-webkit-scrollbar-thumb:active {
    background-color: rgba(var(--primary-rgb), 0.6) !important;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: 0 0 0 var(--body-background) inset !important;
}

a {
    color: var(--text-color);
}

a:hover {
    color: var(--primary);
}

.main-container {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: var(--breakpoint-xxl);
    padding: 24px;
}

.main-container.main-container-sm {
    max-width: var(--breakpoint-sm);
    padding: 8px;
}
.main-container.main-container-md {
    max-width: var(--breakpoint-md);
    padding: 8px;
}
.main-container.main-container-lg {
    max-width: var(--breakpoint-lg);
    padding: 16px;
}
.main-container.main-container-xl {
    max-width: var(--breakpoint-xl);
    padding: 16px;
}
.main-container.main-container-xxl {
    max-width: var(--breakpoint-xxl);
    padding: 16px;
}
