:root {
    --font: 'Lexend', sans-serif;
    --font-mono: 'Roboto Mono', sans-serif;
    --font-size: 10px;
    --font-size-base: 16px;
    --font-size-second: 1.6rem;
    --radius-xs: 2px;
    --radius-sm: 4px;
    --radius: 8px;
    --radius-md: 16px;
    --radius-l: 24px;
    --radius-xl: 40px;
    --align-xs: 4px;
    --align-sm: 8px;
    --align: 16px;
    --align-l: 24px;
    --align-xl: 40px;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --breakpoint-xxl: 1600px;
    --black: #000;
    --black-rgb: 0, 0, 0;
    --white: #fff;
    --white-rgb: 255, 255, 255;
    --danger: #f33620;
    --danger-rgb: 243, 54, 32;
    --warning: #f90;
    --warning-rgb: 255, 153, 0;
    --primary: #fff;
    --primary-rgb: 28, 170, 77;
    --success: var(--primary);
    --success-rgb: var(--primary-rgb);
    --link-color: var(--primary);
    --link-color-rgb: var(--primary-rgb);
    --text-color: rgba(var(--black-rgb), 0.85);
    --text-color-rgb: var(--black-rgb);
    --text-color-secondary: rgba(var(--black-rgb), 0.45);
    --text-color-inverse: var(--white);
    --text-color-inverse-rgb: var(--white-rgb);
    --text-muted: #c0c4cc;
    --border-color-base: #e2e2e2;
    --border-color-inverse: var(--white);
    --body-background: #f4f5f6;
    --body-background-rgb: 244, 245, 246;
    --body-background-inverse: #1e1e2f;
    --body-background-inverse-rgb: 30, 30, 47;
    --component-background: #fff;
    --component-background-inverse: #282a36;
    --component-background-inverse-rgb: 40, 42, 54;
    --component-background-rgb: 255, 255, 255;
    --box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

    --primary-1: #fff;
    --primary-1-rgb: 255, 255, 255;
    --primary-2: #fff;
    --primary-3: #fff;
    --primary-4: #fff;
    --primary-5: #fff;
    --primary-6: var(--primary);
    --primary-7: #fff;
    --primary-8: #fff;
    --primary-9: #fff;
    --primary-10: #fff;
}
